<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="Test">
    <classes>
     <!--  <class name="com.base.Setup"/> -->
      <class name="com.test.loginTest" />
      <class name="com.test.productSelectionTest" />      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
